@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes jumpy {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .letter-bounce {
    display: inline-block;
    animation: jumpy 0.6s infinite;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in.delay-1 {
  animation-delay: 0.3s;
}
.fade-in.delay-2 {
  animation-delay: 0.5s;
}
.fade-in.delay-3 {
  animation-delay: 0.8s;
}

.fade-in.delay-4 {
  animation-delay: 1.2s;
}

.fade-in.delay-5 {
  animation-delay: 1.5s;
}